
//
// VARIABLES
//

// Colors
$blue: #4183C4; 

// Grays
$newgray: #333;
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #b5b4b1;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$courgettecur: 'Courgette', cursive;
$courgettenor: 'Courgette', normal;
$robotoslab: 'Roboto Slab' normal;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}