---
layout: default
---
<!-- Buscar los detalles del autor para configurar el sitio. -->
{% assign author = site.data.authors[page.author] %}

<!-- Arrojar los detalles del autor si existen. -->
{% if author %}
    <span>
        <!-- Mugshot. -->
        <img src="{{ author.email | to_gravatar }}" alt="A photo of {{ author.name }}" />
        <!-- Personal Info. -->
        Escrito por: <a href="{{ author.web }}" target="_blank">{{ author.name }}</a>
    </span>
{% endif %}

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>