---
layout: default
---
<!-- Buscar los detalles del autor para configurar el sitio. -->
{% assign author = site.data.authors[page.author] %}

<!-- Arrojar los detalles del autor si existen. -->
{% if author %}
    <span class="post-details-container">
        <!-- Mugshot. -->
        <img id="avatar-picture" src="{{ author.email | to_gravatar }}" alt="A photo of {{ author.name }}" />
        <!-- Personal Info. -->
        <span id="post-details">
          Por: <a href="{{ author.web }}" target="_blank">{{ author.name }}</a> <br />
          <div class="date">
            En {{ page.date | date: "%B %e, %Y" }}
          </div>
        </span>
    </span>
{% endif %}

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>